@import url('globals.css');

/* Clamping Values Based on @media(max-width: 600) */
/*   Vertical Values are based on an assumed 400px */
/* 
TODO: consider using calc() for preferred values to interpolate between min and max 
total = (B - A) / (max - min) * value + bias
where value: pixel width of screen
min: A
max: B
slope = (B - A) / (max - min)


consider when total=B, value=max:
  B = (B - A) / (max - min) * max + bias
  bias = B - (B - A) / (max - min) * max
or when total=A, value=min:
  A = (B - A) / (max - min) * min + bias
  bias = A - (B - A) / (max - min) * min

calc(100vw * slope + bias)

 */

.page {
  flex: 1;
  display: flex;
  place-content: center center;

  font-family: var(--font-geist-sans);
  background-color: light-dark(var(--surface-light), var(--surface-dark));
}

.main {
  flex: 1;

  display: grid;
  place-content: center center;

  padding:
    clamp(var(--spacing-4), calc(15vh - 10px), var(--spacing-9)) 
    clamp(var(--spacing-4), calc(2vw + 10px), var(--spacing-9));

  width: 100%;
  max-width: 800px;

  height: auto;

  background-color: var(--foreground);

  box-shadow: light-dark(var(--shadow-standard), var(--glow-standard));
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;

  gap: clamp(16px, .04vw, 24px);
}

.intro h1 {
  max-width: 320px;
  font-size: clamp(32px, 7vw, 40px);
  font-weight: 600;
  line-height: clamp(40px, 8vh, 48px);
  letter-spacing: clamp(-2.4px, .4vw, -1.92px);
  text-wrap: balance;
  color: var(--text-primary);
}

.intro p {
  max-width: 440px;
  font-size: 18px;
  line-height: 32px;
  text-wrap: balance;
  color: var(--text-secondary);
}

.intro a {
  font-weight: 500;
  color: var(--text-primary);
}

.ctas {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 440px;
  gap: 16px;
  font-size: 14px;
}

.ctas a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 16px;
  border-radius: 128px;
  border: 1px solid transparent;
  transition: 0.2s;
  cursor: pointer;
  width: fit-content;
  font-weight: 500;
}

a.primary {
  background: var(--text-primary);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--button-secondary-border);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }

  .page {
    --background: #000;
    --foreground: #000;

    --text-primary: #ededed;
    --text-secondary: #999;

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  }
}

.projectList {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  column-gap: 8px;
  row-gap: 16px;
  align-content: stretch;
}

.projectCard {
  background-color: var(--color-surface);
  padding: var(--spacing-6);

  border-radius: var(--spacing-3);

  box-shadow: light-dark(var(--shadow-standard), var(--glow-standard));
}

.projectName {
  font-size: 18pt;
  font-weight: var(--font-weight-medium);
  color: var(--color-text);
}

.projectDesc {
  font-size: 15pt;
  font-weight: var(--font-weight-light);
  color: var(--color-text);
}

.about {
  font-size: 12pt;
  font-weight: var(--font-weight-medium);
  color: var(--color-text);
}

.contact {
  font-size: 12pt;
  font-weight: var(--font-weight-medium);
  color: var(--color-text);
}

.copyright {
  font-size: 10pt;
  font-weight: var(--font-weight-lightest);
  color: var(--color-text);
}

.loginForm {
  width: fit-content;

  display: flex;
  flex-direction: column;
  place-content: center center;
}
